.const-items{
    padding-left: 12px;
}
.grey-title{
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    margin: 0;
    padding: 0;
}

.hr-underline{
    border-top: 2px solid #d6d6d6;
    opacity: 1;
    width: 100%;
    margin: 0;
    margin-block: 0;
}

.input{
    border-width: 0px 0px 0.5px 0px;
    border-bottom-color: grey;
    margin: 5px 0 10px 0;
    padding: 5px 0 10px 0;
}

.title{
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    margin: 0;
    padding: 0;
}

