.wide-button {
    text-align: center;
    background-color: #b59472;
    color: white;
    border-radius: 10px;
    border-color: #d6d6d6;
    border-style: solid;
    width: 250px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Segoe UI", ui-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 72px 8px 72px;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #ABABAB;
    font-size: 14px;
    font-family: "Segoe UI", ui-serif;
    font-weight: bold;
}
