.main-popup-button{
    display: flex;
    text-align: start;
    align-items: center; /* Вертикальное выравнивание иконки и текста */
    justify-content: center; /* Центрирование текста и иконки */
    background: transparent;
    border-radius: 10px;
    border-color: #d6d6d6;
    border-style: solid;
    color: #707070;
    font-family: "Segoe UI", ui-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    height: auto;
    width:auto;
    white-space: nowrap !important; /* Запрет переноса текста на новую строку */
    overflow: hidden !important; /* Скрыть содержимое, выходящее за пределы блока */
    text-overflow: ellipsis !important; /* Добавить троеточие, если текст не вмещается */
}
@media (max-width: 700px) {
    .main-popup-button{
        font-size: 8px;
    }
}
@media (max-width: 500px) {
    .main-popup-button{
        font-size: 8px;
        margin:0px !important;
        padding: 0px !important;
    }
}
.main-popup-button:hover{
    background-color: #b59472;
    color: white;
}

.main-window{
    position: absolute;
    top: 100%;
    background-color: white;
    border: 2px solid #ABABAB;
    border-radius: 10px;
    padding: 1px;
    z-index: 1000;
    width: 200px;
}

.close-icon{
    width: 20px;
    height: 20px;
}

.item{
    display: flex;
    text-align: start;
    align-items: center; /* Вертикальное выравнивание иконки и текста */
    justify-content: center; /* Центрирование текста и иконки */
    background: transparent;
    border-radius: 10px;
    border-color: #d6d6d6;
    border-style: solid;
    color: #707070;
    font-family: "Segoe UI", ui-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    height: auto;
    width:auto;
    margin: 0 0 4px 0;
    word-break: normal;
    overflow: hidden;
}
.item:hover{
    background-color: #b59472;
    color: white;
}

.content-width{
    width: 190px !important;
}
